* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000;
    font-family: 'Nanum Myeongjo', serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    // max-width는 원본 이미지 보다는 커지지 않음
    max-width: 100%;
}